#![enable(implicit_some)]
(
    prototypes: {
        "j_dia_b": (
            visual: "jevel_diamonds_black",
            collider: BoxCollider(3.0, 12.0),
            damage: 2.0,
            lifetime: 4.0,
            z_index: 15.0,
            hit_behavior: Persistent,
        ),
    },

    behaviors: {
        "static": Stationary(),
    },

    timeline: [
        (
            t: 0.0,
            spawn: "j_dia_b",
            pattern: Single,
            apply: ["static"],
        ),
    ],
)
