#![enable(implicit_some)]
(
    chapters: [
        SetCamera(SetZoom(2.0)),
        SpawnView(view_layout: "states/battle/view/sans_idle.view.ron"),
        SpawnView(view_layout: "states/battle/view/undertale_no_box.view.ron"),
        SetPlayer(Spawn(config_path: "states/battle/players/player.battle_player.ron", position: (0.0, -80.0))),

        // AM 动画演出（包含战斗框和弹幕）
        AmPerformance(
            amproj_path: "demo_turn.amproj",
            wait_for_completion: true,
        ),
        Sequence([
            Wait(0.5),
            SetPlayer(Despawn),
        ]),
    ],
)
